body {
background: ${MGV_BGCOLOR:-white};
color: black;
margin: 0px;
padding: 0px;
}

div.heading {
/*border: 1px solid LightGray;
border-top-left-radius: 3px;
border-top-right-radius: 3px;*/
border-bottom: 1px dotted gray;
font-size: x-large;
padding: 3px;
margin: 0;
background-image: -webkit-linear-gradient(bottom, white 0%, #D8E9FF 30%);
color: black;
white-space: nowrap;
}

table {
width: 100%;
border: 1px solid LightGray;
border-top: none;
border-bottom: 1px dotted gray;
border-collapse: collapse;
border-spacing: 0;
text-align: left;
padding: 3px;
white-space: nowrap;
}

td.name {
padding: 3px;
font-weight: bold;
}

td {
padding: 3px;
margin: 0;
background-color: LightGray; color: black;
}

pre {
margin: 0;
padding: 3px;
border-left: 1px solid LightGray;
border-right: 1px solid LightGray;
border-bottom: 1px dotted gray;
$MGV_FONT;
white-space: pre-wrap;
}

