[submodule "libMacGitverCore"]
	path = libMacGitverCore
	url = https://github.com/macgitver/libMacGitverCore.git
[submodule "scripts/includes"]
	path = scripts/includes
	url = https://github.com/macgitver/sh-modules.git
